---
const today = new Date();
---

<footer>
	<nav>
		<a href="https://twitter.com/thepixeldud" target="_blank">Twitter</a>
		<a href="https://github.com/pixeldud" target="_blank">GitHub</a>
		<a href="/rss.xml" type="_blank">RSS</a>
	</nav>
	&copy; {today.getFullYear()} Asher Gomez. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
