---
const today = new Date();
---

<footer>
	<nav>
		<a href="/rss.xml" type="_self">rss.xml</a>
	</nav>
	&copy; {today.getFullYear()} Asher Gomez. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
